.App {
  margin: 3%;
  border: 1px solid red;
  padding: 1%;
  border-radius: 5px;
}

.banner{
  /* border: 1px solid red; */
  /* padding-left: 2%; */
  display: flex;
  justify-content: space-around;
}

.addScore{
  /* justify-content: space-between; */
  margin: 1% 0%;
}

.addScore1{
  margin-left: 6.2%;
  width: 70px;
  height: 35px;
  background-color: rgb(238, 14, 85);
  color: white;
  border: 1px solid rgb(238, 14, 85);
  border-radius: 8px;
}

.addScore4{
  margin-left: 5%;
  width: 70px;
  height: 35px;
  background-color: rgb(238, 14, 85);
  color: white;
  border: 1px solid rgb(238, 14, 85);
  border-radius: 8px;
}

.addScore6{
  margin-left: 5%;
  width: 70px;
  height: 35px;
  background-color: rgb(238, 14, 85);
  color: white;
  border: 1px solid rgb(238, 14, 85);
  border-radius: 8px;
}


.addWicket{
  /* justify-content: space-between; */
  margin: 1% 0%;
}

.addWicket1{
  margin-left: 5%;
  width: 70px;
  height: 35px;
  background-color: rgb(238, 14, 85);
  color: white;
  border: 1px solid rgb(238, 14, 85);
  border-radius: 8px;
}


.addBall{
  /* justify-content: space-between; */
  margin: 1% 0%;
}

.addBall1{
  margin-left: 8%;
  width: 70px;
  height: 35px;
  background-color: rgb(238, 14, 85);
  color: white;
  border: 1px solid rgb(238, 14, 85);
  border-radius: 8px;
}